.Brestlers {
    padding-top: 155px;
}

.brestler {

    &__head {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-family: 'Prompt', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 42px;
        line-height: 64px;
        color: #000000;
    }

    &__sort__inner {
        width: 100%;
        position: relative;
        z-index: 11;

        .brest__sort__btn {
            padding: 18px;
            background: #FFFFFF;
            border: 1px solid #A6B5CA;
            font-family: 'Prompt', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            display: flex;
            gap: 63px;
            align-items: center;
            cursor: pointer;
        }

        .dropdown_content {
            position: absolute;
            height: 300px;
            overflow-y: scroll;


            .dropdown_item {
                padding: 18px;
                background: #FFFAFA;
                border: 1px solid #A6B5CA;
                font-family: 'Prompt', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                color: #000000;
                cursor: pointer;

            }

            .dropdown_item:hover {
                background-color: #FFFFFF;
            }
        }

    }

    &__select {
        padding: 18px;
        font-family: 'Prompt', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000000;

    }

    &__inner {
        margin-top: 34px;
        // border: 1px solid #A6B5CA;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
    }

    &__card__inner {
        width: 453.5px;
        height: 692px;
        border: 0.5px solid #A6B5CA;
    }


    &__card__image {
        cursor: pointer;
        padding: 27px 71px 0 71px;
        position: relative;


        .card__image__inner {
            display: flex;
            justify-content: center;
            background: rgba(145, 186, 237, 0.05);
            border: 1px solid #91BAED;
            border-radius: 125px;
            height: 438px;
            overflow: hidden;

            img {
                padding-top: 62px;
                max-width: 220px;
                height: 314px;
                background-position: center;
                background-size: cover;
                transition: 0.5s ease-in-out;
            }
        }

        .card__image__inner:hover img {
            transform: scale(1.06);
        }
    }

    &__card__title {
        max-width: 388px;
        height: 72px;
        margin: 25px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Prompt',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #3D3D3D;
    }

    &__card__btn {
        display: flex;
        justify-content: center;

        button {
            font-family: 'Prompt', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            color: #FFFFFF;
            padding: 13px 100px;
            background: #2A96CD;
            border: 1px solid #2A96CD;
            cursor: pointer;
            transition: 0.4s ease-in-out;
        }

        button:hover {
            background-color: #FFFFFF;
            border: 1px solid #2A96CD;
            color: #2A96CD;
        }
    }

    &__card__info {
        padding: 26px 27px;
        background: #F9FBFE;
        border: 1px solid #2A96CD;
        box-shadow: -4px 6px 36px rgba(0, 0, 0, 0.08);
        border-radius: 40px;
        position: absolute;
        font-family: 'Prompt', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #2A96CD;
        right: 55px;
        bottom: -10px;
        display: flex;
        align-items: center;
        gap: 16px;
        transition: 0.3s ease-in-out;

        svg path {
            fill: #2A96CD;
            transition: 0.3s ease-in-out;

        }
    }

    &__card__info:hover {
        transform: scale(1.08);
        background-color: #2A96CD;
        color: #FFFFFF;
    }

    &__card__info:hover svg path {
        fill: #FFFFFF;
    }
}

.all__modal__content {
    display: flex;
}

.left__modal__content {
    position: relative;
    width: 100%;
    padding: 0 40px;
}


.right__modal__content {
    border-left: 1px solid hsl(215, 25%, 72%);
    width: 100%;
    height: 95vh;
    overflow-y: scroll;
}

.inner__modal__con{
    padding: 39px 30px 150px 50px;
}

.flex__brand {
    display: flex;
    align-items: center;
    gap: 100px;
}

.flexed__img {

    img {
        position: absolute;
        object-fit: contain;
        left: 30%;
        top: 30%;
    }

    .motorbich {
        font-family: 'Prompt', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 152px;
        text-transform: uppercase;
        line-height: 228px;
        letter-spacing: 0.13em;
        color: rgba(145, 186, 237, 0.12);
    }
}

.modal__right__title {
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
    margin-top: 32px;
}

// .modal__right__title:nth-child(3){
// margin-top: 20px;
// }

.modal__right__describe {
    margin-top: 16px;
    margin-bottom: 8px;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #636363;
}

.modal__right__brandimg {
    display: flex;
    flex-wrap: wrap;
}

.modal__brand__imgages:nth-child(1){
    border-right: 0.5px solid #A6B5CA;
}

.modal__brand__imgages:nth-child(2){
    border-right: 0.5px solid #A6B5CA;
    border-left: 0.5px solid #A6B5CA;
}

.modal__brand__imgages {
    position: relative;
    border: 1px solid #A6B5CA;
    width: 200px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;


    .download {
        display: flex;
        justify-content: center;
    }

    .image__xz {
        display: flex;
        justify-content: center;
    }



    button {
        position: absolute;
        bottom: 0;
        padding: 13px 20px;
        background: #385981;
        cursor: pointer;

        a {
            font-family: 'Prompt', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
        }
    }
}

.modal__brand__imgages:hover button {
    display: inline;
}


.modal__brand__imgages:nth-child(1) img {
    width: 100px;
    height: 54px;
}

.modal__brand__imgages:nth-child(2) img {
    width: 142px;
    height: 58px;
}

.modal__brand__imgages:nth-child(3) img {
    width: 121px;
    height: 44px;
}

.modal__brand__imgages:nth-child(4) img {
    width: 121px;
    height: 44px;
}

.modal__brand__imgages:nth-child(5) img {
    width: 121px;
    height: 44px;
}

.about__content__theirgun {
    margin-top: 16px;
}

.content__motor__power {
    padding: 22px 0 22px 39px;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #363636;
    border: 1px solid #A6B5CA;
}

.content__modal__call {
    width: 49%;
    position: fixed;
    bottom: 0;
    z-index: 999;
    background-color: #FFFFFF;
    box-shadow: 0px -5px 24px rgba(0, 0, 0, 0.08);
}

.content__modal__call button {
    padding: 17px 130px;
    background: #2A96CD;
    border: 1px solid #2A96CD;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    cursor: pointer;
}

.content__modal__call button:hover {
    color: #2A96CD;
    background-color: white;
    border: 1px solid #2A96CD;
}

.left__modal__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left__modal__insiders {
    width: 100%;
    position: relative;
}


.modal__content__closes {
    position: absolute;
    right: 20px;
    top: 20px;
}

.modal__content__closes svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
}


.paginationCustom {
    margin-top: 40px;
    padding-right: 20px;
    display: flex;
    justify-content: end;

}

.paginate__side {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.paginate__seemore button {
    padding: 22px 28px;
    display: flex;
    gap: 16px;
    align-items: center;
    border: 1px solid #A6B5CA;
    background-color: white;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3D3D3D;
    cursor: pointer;
}

.page__num{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 46px;
   height: 47px;
   border: 1px solid #2A96CD;
   border-radius: 50%;
   cursor: pointer;
}

.page__num a.page__link {
    color: #2A96CD;

}

.page__num:hover {
    background-color: #2A96CD;
}


.page__num:hover a.page__link {
    color: #FFFFFF;
}




// Media

@media(max-width:1880px) {
    .brestler__card__inner {
        width: 430px;
        height: auto;
        padding-bottom: 28px;
    }

    .brestler__cards {
        justify-content: center;
    }

    .brestler__card__image .card__image__inner {
        height: 400px;
    }


}


@media(max-width:1785px) {
    .brestler__card__inner {
        width: 390px;
    }

    .brestler__card__title {
        margin: 10px 0 0 0;
    }


}

@media(max-width:1625px) {
    .brestler__card__inner {
        width: 350px;
    }

    .brestler__card__image .card__image__inner {
        height: 300px;
    }

    .brestler__card__image .card__image__inner img {
        width: 200px;
        height: 250px;
    }

    .brestler__card__btn button {
        padding: 10px 70px;
        font-size: 20px;
    }

    .brestler__card__title {
        font-size: 20px;
        line-height: 28px;
    }


}

@media(max-width:1465px) {
    .brestler__card__image {
        padding: 15px 50px 0 50px;
    }

    .brestler__card__inner {
        width: 330px;
    }

}


@media(max-width:1465px) {

    .flexed__img .motorbich {
        font-size: 100px;
    }

    .flexed__img img{
        top: 25%;
        left: 20%;
    }

    .left__modal__content{
        width: auto;
    }


    .brestler__card__inner {
        width: 300px;
    }

    .brestler__card__info {
        padding: 20px 21px;
        font-size: 20px;
    }

    .brestler__card__image .card__image__inner {
        height: 250px;
    }

    .brestler__card__image .card__image__inner img {
        width: 150px;
        height: 200px;
    }

}

@media(max-width:1265px) {

    .content__motor__power {
        font-size: 18px;
    }


    .brestler__card__inner {
        width: 270px;
    }

    .brestler__card__info {
        padding: 10px 11px;
        font-size: 18px;
        gap: 8px;

        svg {
            width: 35px;
            height: 10px;
        }
    }

    .brestler__card__image .card__image__inner {
        height: 220px;
    }

    .brestler__card__image .card__image__inner img {
        width: 120px;
        height: 170px;
        padding-top: 32px;
    }



}

@media(max-width:1200px) {

    .inner__modal__con{
        padding: 20px;
    }

    .flexed__img .motorbich{
        font-size: 72px;
    }

    .flexed__img img{
        left: 10%;
    }

    .modal__brand__imgages:nth-child(1) img {
        width: 100px;
        height: 60px;
    }

    .modal__brand__imgages:nth-child(2) img {
        width: 100px;
        height: 60px;
    }

    .modal__brand__imgages:nth-child(3) img {
        width: 100px;
        height: 60px;
    }

}



@media (max-width:820px) {

    .right__modal__content{
        height: 47vh;
    }

    .all__modal__content{
        display: block;
    }

    .right__modal__content{
        border: none;
        border-top: 1px solid #A6B5CA;
    }

    .left__modal__content{
        height: 45vh;
    }

    .flexed__img img{
        left: 27%;
        top: 20%;
        height: 300px;
    }

    .flex__brand {
        display: block;
    }

    .flexed__img {
        display: flex;
        justify-content: center;
    }

    .motorbich {
        display: flex;
        justify-content: center;
        font-size: 100px;
    }

    .motorbichIMG {
        left: 35%;
    }

    .modal__right__title {
        font-size: 28px;
        line-height: 32px;
    }

    .modal__right__describe {
        font-size: 16px;
        line-height: 26px;
    }

    .content__motor__power {
        padding: 12px 10px;
        font-size: 18px;
        line-height: 28px;
    }

    .content__modal__call button {
        padding: 10px 80px;
        font-size: 20px;
    }

}



@media (max-width:700px) {
    .modal__content__closes {
        top: 40px;
    }

    .left__modal__content {
        display: flex;
        justify-content: center;
    }

    .brestler__cards {
        justify-content: center;
    }
}


@media (max-width:550px) {

    .flexed__img img{
        left: 18%;
    }

    .modal__brand__imgages button {
        display: inline;
    }

    .card__maxwidth {
        margin-bottom: 20px;
    }

    .brestler__card__inner {
        width: 300px;
    }

    .brestler__head {
        display: block;
        justify-content: center;
    }

    .brest__sort__btn {
        gap: 0;
        justify-content: space-between;
    }

    .brestler__select {
        width: 100%;
    }

}


@media (max-width:470px) {

    .brestler__card__inner{
        padding-bottom: 10px;
    }

    .modal__right__brandimg{
        gap: 5px;
    }

    .modal__brand__imgages{
        width: 49%;
        height: 150px;

        button{
            width: 100%;
            padding: 10px 0;

            a{
                font-size: 12px;
            }
        }

    }

    .motorbich {
        font-size: 72px;
    }

    .motorbichIMG {
        left: 30%;
    }

    .brestler__card__inner {
        height: auto;
    }


    .brestler__card__btn button {
        padding: 13px 80px;
    }
}

@media (max-width:430px) {

    .left__modal__content{
        padding: 0;
        height: 35vh;
    }

    .right__modal__content{
        height: 57vh;
    }


    .flexed__img img{
        max-width: 240px;
        height: 170px;
        left: 22%;
    }

    .brestler__card__image .card__image__inner {
        height: 280px;
        align-items: center;
    }

    .modal__right__title {
        font-size: 24px;
    }

    .brestler__card__title {
        font-size: 18px;
    }

    .brestler__card__info {
        padding: 16px 17px;
    }

    .brestler__card__image .card__image__inner img {
        padding-top: 0px;
        max-width: 230px;
        max-height: 160px;
    }

    .brestler__card__image {
        padding: 27px 41px 0 41px;
    }

}

@media (max-width:430px) {

    .motorbich {
        font-size: 56px;
    }

    .motorbichIMG {
        left: 25%;
    }

}

@media (max-width:401px) {
    .modal__brand__imgages{
        button{
            padding: 10px 15px;

            a{
                font-size: 12px;
            }
        }

    }

}

@media (max-width:390px) {

    .flexed__img img{
        top: 17%;
    }

}   

@media (max-width:381px) {

    .flexed__img img{
        left: 17%;
    }

    .modal__brand__imgages{
        button{
            padding: 10px 5px;

            a{
                font-size: 12px;
            }
        }

    }

}