.Brands {
    margin-top: 130px;
}

.brand {

    &__inner {

        .brand__title {
            padding-left: 59px;
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 73px;
            color: #3D3D3D;
        }

        .brand__names {
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            border: 0.5px solid #A6B5CA;
        }

    }
}



.brand__second__col {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 453.6px;
    height: 449px;
    border: 0.5px solid #A6B5CA;

    @keyframes fromBottom {
        from{
            transform: translateY(100px);
        }

        to{
            transform: translateY(0);

        }
        
    }
    .brand__fitst__hovercol_active {
        animation: fromBottom 0.6s ease-in-out;
        padding: 0 20px;
        width: 100vw;
        background-color: white;
        box-shadow: #A6B5CA;
        border: 2px solid #A6B5CA;
        height: 40vh;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        z-index: 999;
        overflow-y: scroll;


        .hidden__motors_active {
            margin-top: 80px;

            li {
                display: flex;
                gap: 20px;
                font-family: "Inter", sans-serif;
                align-items: center;
                margin-bottom: 20px;
                font-weight: 500;
                font-size: 16px;
                cursor: pointer;

                svg{
                    width: 16px;
                    height: 16px;
                }
            }

            li:hover{
                color: #2A96CD;
            }

            li:hover svg path{
                fill: #2A96CD;
            }
        }

    }

    .brand__fitst__hovercol .hidden__motors {
        display: none;
        overflow-y: scroll;
        padding: 67px 0 67px 61px ;

        li {
            display: flex;
            padding: 0 20px;
            font-family: "Inter", sans-serif;
            gap: 22px;
            margin-bottom: 22px;
            align-items: center;
            font-weight: 500;
            font-size: 24px;
            cursor: pointer;
            color: #002656;

            svg{
                width: 20px ;
                height: 20px ;
            }
        }

        li:hover{
            color: #2A96CD;
        }

        li:hover svg path{
            fill: #2A96CD;
        }
    }

    .brand__first__image {
        img {
            max-width: 400px;
        }
    }

    .brand__hidden__sender {
        display: none;
        cursor: pointer;

        svg path {
            fill: #2A96CD;
        }
    }

}

.closed__modalka {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

    svg {
        width: 30px;
        height: 30px;
    }
}

.brand__second__col:hover {
    align-items: flex-start;
    padding-top: 20px;
    overflow-y: scroll;
}

.brand__second__col:hover .brand__fitst__hovercol .hidden__motors {
    display: inline;
}

.brand__second__col:hover .brand__first__image {
    display: none;
}


@media (max-width:1865px) {

    .brand__second__col {
        width: 420px;
    }


    .brand__inner{
        .brand__names{
            border: none;
        }
    }


}

@media (max-width:1725px) {

    .brand__second__col {
        width: 370px;

        .brand__first__image {
            img {
                max-width: 350px;
                cursor: pointer;
            }
        }
    }

}

@media (max-width:1526px) {

    .brand__names {
        width: 100%;
        gap: 10px;
    }

   .brand__inner{
    .brand__names{
        border: none;
    }
   }

    .brand__second__col {
        width: 49%;
    }

}

@media (max-width:1510px) {

    .brand {


        &__names {
            .first__column {
                flex-wrap: wrap;
            }

        }

        &__inner {
            .brand__names {
                .first__column {
                    .brand__fitst__col {
                        width: 50%;
                    }
                }
            }
        }

    }

}

@media (max-width:1420px) {
    .brand {
        &__names {
            .second__column {
                flex-wrap: wrap;
            }

        }

        &__inner {
            .brand__names {
                .second__column {
                    .brand__second__col {
                        width: 100%;
                    }
                }
            }
        }


    }
}

@media (max-width:980px) {

    .brand__second__col {
        position: relative;

        .brand__hidden__sender {
            display: inline;
            position: absolute;
            bottom: 10px;
            right: 20px;

            svg {
                width: 30px;
                height: 30px;
            }
        }

    }

    .brand__second__col:hover .brand__fitst__hovercol .hidden__motors {
        display: none;
    }


    .brand__second__col:hover .brand__first__image {
        display: inline;
    }

    .brand__second__col:hover {
        padding-top: 0;
        align-items: center;
        overflow: hidden;
    }



}


@media (max-width:840px) {

    .brand__fitst__hovercol {
        display: none;
    }

    .brand__first__image img {
        width: 215px;
        max-height: 100px;
    }

    .brand__second__col {
        height: 350px;
    }

}


@media (max-width:650px) {

    .brand__second__col {
        height: 300px;
    }

    .brand__second__col {
        .brand__fitst__hovercol_active {
            .hidden__motors_active {
                li {
                    font-size: 16px;
                    margin-bottom: 20px;
                }
            }
        }
    }


}

@media (max-width:550px) {

    .brand__second__col {
        height: 200px;
        width: 45%;

        .brand__first__image img {
            max-width: 120px;
            max-height: 66px;
        }

        .brand__hidden__sender {
            right: 10px;
            bottom: 5px;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }








}

@media (max-width:480px) {

    .brand__second__col {
        height: 140px;
    }

}

@media (max-width:400px) {
    .brand__inner .brand__title {
        padding-left: 20px;
    }
}