@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;800&display=swap');

html,
body {
  font-family: "Prompt", sans-serif;
}

.App {
  padding: 0 12px;
}


.ErrorPage{
  padding-top: 150px;
  font-size: 72px;
}

.container {
  max-width: 1816px;
  width: 100%;
  margin: 0 auto;
}

.swiper-wrapper {
  display: block;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

button {
  border: none;
}

.header_btn.active {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  border: 0.5px solid #A6B5CA;
  animation: menu 0.6s ease;

  button {
    padding: 14px 84px;

    @media(max-width:400px) {
      padding: 10px 40px;
    }
  }
}

.header_nav.active {
  position: relative;
  z-index: -1;
  display: block;
  animation: menu 0.5s ease-out;


  @keyframes menu {
    from {
      transform: translateY(-20px);
    }

    to {
      transform: translateY(0);

    }

  }


  a {
    display: flex;
    border: 0.5px solid #A6B5CA;
    justify-content: center;
    padding: 21px 0 21px 0;
  }

}


.header__inner.active {
  position: relative;
  z-index: 5;
  display: block;
  width: 100%;
  height: 50%;
}



.header_nav_bar.active {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #2a96cd;
}


.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.BrandModal{
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.BrandModal__con{
  bottom: 0;
  background: white;
  transform: scale(0);
  transition: 0.4s all;
}

.BrandModal__con.active{
  transform: scale(1);
}

.modal__content {
  width: 98vw;
  height: 97vh !important;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  border: 1px solid #A6B5CA;
  background: white;
  transform: scale(0.5);
  transition: 0.4s all;
}

.modal__content.active {
  transform: scale(1);
}

.model_kater {
  position: absolute;
  z-index: 100;
  top: 25%;
  right: 20%;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.model_motor {
  position: absolute;
  z-index: 100;
  opacity: 0;
  bottom: -45%;
  pointer-events: none;
  transition: 0.5s;
}

.model_helm {
  position: absolute;
  z-index: 100;
  opacity: 0;
  top: 25%;
  left: 14%;
  pointer-events: none;
  transition: 0.5s;
}

.model_radar {
  position: absolute;
  z-index: 100;
  opacity: 0;
  top: 20%;
  left: 30%;
  pointer-events: none;
  transition: 0.5s;
}



.model_kater.active {
  pointer-events: all;
  opacity: 1;
}

.model_trans.active {
  pointer-events: all;
  opacity: 1;
}

.model_motor.active {
  pointer-events: all;
  opacity: 1;
}

.model_helm.active {
  pointer-events: all;
  opacity: 1;
}

.model_radar.active {
  pointer-events: all;
  opacity: 1;
}





.model_content_kater {
  padding: 20px;
  width: 460px;
  background: white;
  border: 1px solid black;
  transform: scale(0.5);
  transition: 0.4s all;
}

.model_trans {
  position: absolute;
  z-index: 100;
  right: 42%;
  bottom: -45%;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.model_content_kater.active {
  transform: scale(1);
}



.modal.active {
  pointer-events: all;
  opacity: 1;
}

.BrandModal{
  pointer-events: all;
  opacity: 1;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #ffffff;
  padding: 0 12px;
  padding-top: 12px;
  z-index: 99;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    border: 1px solid #A6B5CA;
  }

  &__logos {
    display: flex;
    justify-content: space-between;
  }

  &_nav {
    display: flex;
    align-items: center;
    gap: 68px;
  }


  &_nav_bar {
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #3d3d3d;
    text-decoration: none;
    transition: 0.4s ease-in-out;

    &:hover {
      font-style: normal;
      // font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: #2a96cd;
    }

  }



  &_btn {
    button {
      cursor: pointer;
      font-family: "Prompt", sans-serif;
      padding: 23px 56px 24px 55px;
      background: #385981;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: #ffffff;
      border: none;
    }
  }


  &__burger__menu {
    display: none;
  }


}



@media(max-width:1200px) {
  .modal__content {
    display: block;
  }

}


@media(max-width:1340px) {

  .header__burger__menu{
    display: inline;
    cursor: pointer;

    svg{
      width: 25px;
      height: 25px;
    }

  }


  .header {

    &__inner {
      display: block;
      padding-top: 15px;
      padding-left: 0;
    }

    &_logo{
      padding-left: 22px;
    }

    &__burger__menu{
      padding-right: 22px;
    }

    &__burger__menu.active{
      padding-right: 22px;
    }



    &_nav {
      display: none;
    }

    &_btn {
      display: none;
    }

  }

}


@media(max-width:1090px) {
  .model_kater {
    right: 5%;
  }

  .model_content_kater {
    width: 300px;
  }
}

@media(max-width:820px) {
  .modal__content {
    width: 80vh;
  }

}


@media(max-width:600px) {
  .model_trans {
    right: 0;
  }

  .model_radar {
    left: 0;
  }
}

@media(max-width:550px) {
  .header {

    &__inner {
      .header_logo svg {
        width: 160px;
        height: 40px;
      }
    }

    &_logo{
      padding-left: 15px;
    }

    &__burger__menu{
      padding-right: 15px;
    }

    &__burger__menu.active{
      padding-right:15px;
    }

  }
}


@media(max-width:450px) {
  .model_kater {
    right: 0;
  }
}